{% extends "admin/base.html" %}
{% load admin_static static %}
{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="{% get_static_prefix %}images/favicon.ico" rel="icon" type="image/x-icon" media="all">
<style type="text/css">
    .form-horizontal .inline-related .select2 .selection,
    .form-horizontal .inline-related .select2 .select2-selection {
        display: block !important;
    }

    .form-horizontal .inline-related .select2 .dropdown-wrapper {
        display: inline !important;
    }
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-35743998-2', 'auto');
  ga('send', 'pageview');
  {% if request.user.is_authenticated %}
  ga('set', 'userId', {{request.user.id}}); // Set the user ID using signed-in user_id.
  {% endif %}
</script>

{% endblock %}

{% load i18n %} 



{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
<script>
$(function () {
    Suit.after_inline.register('init_select2', function (inline_prefix, $row) {
        $row.find('[data-field_id]').each(function() {

            // Remove generated elements of select2
            $(this).parent().find('span.select2').remove();

            // Reset select2 classes on select
            $(this).removeClass('select2-hidden-accessible');

            // Do the same as django_select2 would do
            // see https://github.com/applegrew/django-select2/blob/5.1.0/django_select2/static/django_select2/django_select2.js
            var field_id = $(this).data('field_id');
            $(this).select2({
                ajax: {
                    data: function (params) {
                        return {
                            term: params.term,
                            page: params.page,
                            field_id: field_id
                        };
                    },
                    processResults: function (data, page) {
                        return {
                            results: data.results
                        };
                    }
                }
            });

        })
    });
});
</script>
<script>
$(document).ready(function(){
  $('.viewsitelink').attr('target', '_blank');
  $('.file-upload > a').attr('target', '_blank');
});

</script>
<script type="text/javascript" src="{% static 'js/MyRelatedObjectLookups.js' %}"></script>
{% endblock %}


{# Footer links (left side) #}
{% block footer_links %}
<p style="font-family:'Montserrat',arial;font-size:10px;" >
{#<i class="icon-envelope"></i> soporte@teyat.es | #}
{#<i class="icon-comment"></i> +34 96 204 28 35#}
</p>
{% endblock %}

{# Additional header content like notifications or language switcher #}
{% block header_content %}
    {{ block.super }}
    <div class="header-content">
        <!-- Second icon column -->
        <div class="header-column icon">
        </div>
        <div class="header-column">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                <select name="language" onchange="this.form.submit()">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
{% endblock %}

{# Footer branding name (center) #}
{% block footer_branding %}
<p style="font-family:'Lobster';font-size:24px;"><span style="font-family:sans-serif,arial;font-size:12px;color=#b0b0b0;">{% trans 'gestión de tu teatro' %}</span></p>
<!--<p style="font-size:10px;color=#b0b0b0;">{% trans 'gestión de tu teatro' %}</p>-->
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}
<p style="font-family:sans-serif,arial;font-size:12px;" >{% now "Y" %} &copy; <span style="font-family:'Lobster';font-size:12px;"></span></p>
{% endblock %}
