{% load i18n %}
{% if show %}
  <div class="xfull">
    <ul class="toplinks breadcrumb">
      {% trans 'Filtra por fecha' %}:
      {% if back %}
        <li class="date-back">
        <a href="{{ back.link }}">&laquo; {{ back.title }}</a>
          <span class="divider">|</span>
        </li>{% endif %}
      {% for choice in choices %}{% spaceless %}
        <li>{% if choice.link %}<a href="{{ choice.link }}">{% endif %}{{ choice.title }}{% if choice.link %}</a>&nbsp;{% if back %}&nbsp;{% endif %}{% endif %}{% endspaceless %}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}