<!DOCTYPE html>
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{#{% load feedback_widget %} #}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="author" content="teyat.es">
    <link href="{% get_static_prefix %}images/favicon.ico" rel="icon" type="image/x-icon" media="all">
{% block alternate_languages %}
  {% get_language_info_list for LANGUAGES as languages %}
    {% if '/ca/' in request.path %}
    <link rel="alternate" hreflang="x-default" href="http://teyat.es{{ request.get_full_path|slice:'3:'|get_canonical }}">
     {% for language in languages %}
    <link rel="alternate" hreflang="{{ language.code }}" href="http://teyat.es/{{language.code}}{{ request.get_full_path|slice:'3:' }}">
     {% endfor %}
    {% elif '/es/' in request.path %}
    <link rel="alternate" hreflang="x-default" href="http://teyat.es{{ request.get_full_path|slice:'3:' }}">
      {% for language in languages %}
    <link rel="alternate" hreflang="{{ language.code }}" href="http://teyat.es/{{language.code}}{{ request.get_full_path|slice:'3:' }}">
      {% endfor %}
    {% else %}
    <link rel="alternate" hreflang="x-default" href="http://teyat.es{{ request.get_full_path|get_canonical}}">
      {% for language in languages %}
    <link rel="alternate" hreflang="{{ language.code }}" href="http://teyat.es/{{language.code}}{{ request.get_full_path}}">
      {% endfor %}
     {% endif %}        
{% endblock %}
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/feedback.css" />-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Lobster' rel='stylesheet' type='text/css'>
    
    {% block extra_head %}
    {% endblock %}
    <link href="{% get_static_prefix %}css/teyat.css" rel="stylesheet">
    
    
        
     {# Google Analytics #}
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-35743998-2', 'auto');
            ga('send', 'pageview');
            {% if request.user.is_authenticated %}
                ga('set', 'userId', {{request.user.id}}); // Set the user ID using signed-in user_id.
            {% endif %}
    </script>
    {% include 'meta.html' %}
    
    
    <title>{% block title_page %}{% endblock %}</title>
    

  </head>

  <body {% block datascroll %}{% endblock %}>
  

  
    {% block pre_mainpage %}
    
    {% include 'teyat/partial_topbar.html' %}
    
    
    
    {% endblock %} {# pre_mainpage #}
    
    
    
    <!-- Begin page content -->
    
    
    {% block mainpage %}
     
    {% endblock %}   
    
    
    
    {% block post_mainpage %}
    {#{% feedback_widget %}#}
    {% include 'teyat/partial_footer.html' %}
    
    {% endblock %} {# post_mainpage #}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-select.js"></script>
    <script>
    $(function() {
	$("#feedback-tab").click(function() {
		$("#feedback-form").toggle("slide");
	});

	$("#feedback-form form").on('submit', function(event) {
		var $form = $(this);
		$.ajax({
			type: $form.attr('method'),
			url: $form.attr('action'),
			data: $form.serialize(),
			success: function(data, textStatus, jqXHR) {
                alert("{% trans 'Agradecemos tu información. \n Tu comentario ha sido enviado satisfactoriamente. Muchas gracias.' %}");
				$("#feedback-form").toggle("slide").find("textarea").val('');
			},
            'error': function(jqXHR, textStatus, errorThrown){
				if (jqXHR.status == 400)
				{
					var errors = "{% trans 'Ha ocurrido un error:' %} \n";
					errors += jqXHR.responseText;
					alert(errors);
				}
				else if(jqXHR.responseText != ''){
					alert("{% trans 'Ha ocurrido un error:' %} \n"+jqXHR.responseText);
				}
				else{
					alert("{% trans 'Ha ocurrido un error desconocido.' %}");
				}
			}
		});
		event.preventDefault();
	});
});    
    </script>
    <script type="text/javascript" id="cookiebanner"
    src="{% get_static_prefix %}js/cookiebanner.min.js"
    data-linkmsg="{% trans 'política de privacidad' %}"
    data-message="{% trans 'En teyat empleamos cookies para mejorar tu experiencia. Al continuar navegando en este sitio aceptas nuestro uso de cookies. Más sobre nuestra' %}"
    data-moreinfo="{% url 'teyat_lang:legal' %}">
    </script>
    <script>
        $('#navbar-topbar >ul >li >form > select').click(function (e) {
            e.stopPropagation();
        });
    </script>
    {% block JavaScript %}
    {% endblock %}
  </body>
</html>
