{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{# Load the tag library #}
{% load bootstrap3 %}


{% block title_page %} {{title_page}}{% endblock %}

{% block datascroll %}style="overflow-x: hidden;" {% endblock %}
 
    {% block mainpage %}
    <div class="main-row">
        <h2 class="text-center">{% trans 'Contacta con <span class="text-teyat">teyat</span>' %}</h2>
        <div class="container lead" style="padding-bottom:10%;">
            
            <br>
            {% trans 'Envíanos un correo y nos pondremos en contacto contigo tan pronto como sea posible.' %}
            <br><br>
            
            <ul>
                <li>{% trans 'Si tienes alguna duda o necesitas ayuda con <strong>tu suscripción</strong>, escríbenos a <a href="mailto:suscriptiones@teyat.es">suscripciones@teyat.es</a>' %}</li>
                <li>{% trans 'Si tienes cualquier problema relacionado con <strong>el manejo de teyat</strong>, consulta la documentación. Si el problema persiste o no puedes solucionarlo, escríbenos a <a href="mailto:soporte@teyat.es">soporte@teyat.es</a>' %}</li>
                <li>{% trans 'Para otras consultas escríbenos a <a href="mailto:info@teyat.es">info@teyat.es</a>' %}</li>
            </ul>
            <br><br>
            {% trans 'Gracias por ponerte en contacto con nosotros.' %}
        </div>
    
    </div> {# Container MAIN-ROW end #}

{% endblock %}

