{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{% block title_page %} {{title_page}}{% endblock %}

{% block datascroll %}style="overflow-x: hidden;" {% endblock %}
 
    {% block mainpage %}
    <div class="main-row">
    <div class="container">
    
      <h1>{% trans 'Uso de Cookies' %}</h1>
      
      
      {% blocktrans %}
      
      <p>Teyat.es emplea cookies, que son archivos de texto ubicados en su ordenador, para mejorar la experiencia del usuario en el portal. A continuación listamos los diferentes tipos de cookies que usamos en Teyat.es.</p>
      <br/><br/>
      <p class="text-success">Tipo 1: Estrictamente necesarias.</p> Sustentan las funcionalidades básicas de la web como, por ejemplo, las cookies que le permiten a usted conectarse a áreas seguras de nuestro sitio web o hacer uso de los servicios de facturación electrónica.
      <br/><br/>
      <p class="text-info">Tipo 2: Cookies de funcionalidades extras.</p> Necesarias para disponer de ciertas funciones útiles en la web como, por ejemplo, los botones de compartir en redes sociales. Cookies de Facebook, Google+ , Twitter, etc. Te ofrecemos botones sociales para que puedas compartir fácilmente cualquier contenido de Teyat.es. Para ello, necesitamos instalar las cookies que estas redes sociales emplean.
      <br/><br/>
      <p class="text-warning">Tipo 3: Cookies de análisis.</p> Estas cookies nos permiten obtener datos anónimos de las visitas de nuestros usuarios. Con ellas analizamos el uso de la web sin concretar datos individuales y se usan únicamente para optimizar el contenido y el rendimiento de nuestra web.

      <p>Si se registra con nosotros o si continúa utilizando nuestro sitio, usted acepta nuestro uso de cookies.</p>

      <p>Tenga en cuenta que terceras partes (incluidas, por ejemplo, redes publicitarias y proveedores de servicios externos, como servicios de análisis de tráfico web) también pueden utilizar cookies, sobre las que nosotros no tenemos ningún control. Es probable que estas cookies sean cookies analíticas / operativas o cookies de seguimiento.</p>

      {% endblocktrans %}

      <h2>{% trans 'Cookies en Teyat.es' %}</h2>
      
      {% if LANGUAGE_CODE == 'es' %}
        {% include 'teyat/partial_cookies_table_es.html' %}
      {% elif LANGUAGE_CODE == 'ca' %}
        {% include 'teyat/partial_cookies_table_ca.html' %}
      {% endif %}

      
      <h2>{% trans 'Cómo gestionar las cookies en tu equipo' %}</h2>
      
      {% blocktrans %}
      <p>Teyat.es hace un uso responsable de las cookies y solo las emplea con los fines descritos arriba. Cambiar la configuración de aceptación de cookies podría entorpecer la navegación y restarle funcionalidades a nuestra web. Aun así, si quieres más información sobre su configuración, puedes consultar las páginas web de los principales navegadores:</p>

      <ul>
      <li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Google Chrome</a></li>
      <li><a href="http://support.mozilla.org/es/home" target="_blank">Firefox</a></li> 
      <li><a href="http://support.microsoft.com/ph/807/es-es" target="_blank">Internet Explorer</a></li> 
      <li><a href="http://support.apple.com/kb/HT1677?viewlocale=es_ES" target="_blank">Safari</a></li> 
      <li><a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html" target="_blank">Opera</a></li>
      </ul>
      {% endblocktrans %}
      
      <h2>{% trans 'Versión' %}</h2>
      
      {% trans 'Este documento es de fecha 21/01/2016 y cualquier modificación de sus términos será publicada en esta página web.' %}
      <br/><br/>
    </div>
    </div>{# Container MAIN-ROW end #}

{% endblock %}
