{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{# Load the tag library #}
{% load bootstrap3 %}

{% block extra_head %}
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript" async  src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}

{% block title_page %} {{title_page}}{% endblock %}

{% block datascroll %}style="overflow-x: hidden;" {% endblock %}
 
    {% block mainpage %}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/{{ LANGUAGE_CODE }}_ES/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="main-row">
        <div class="container tpb" >
            
            {% if BEFORE_LAUNCH %}
            <div class="col-xs-12 col-md-10 col-md-offset-1" style="padding-bottom:7%;">
                <h1 class="text-center">{% trans 'Muchas gracias por tu interés en' %} <span class="text-teyat">teyat</span>, {{nuevo_usuario.nombre}}</h1>
                <h3 class="text-center">{% trans 'Nos hace mucha ilusión contar contigo.' %} <br/> {% trans 'Lo estamos ultimando todo para nuestro lanzamiento.' %} </h3>
                <br/>
                <h3 class="text-center"> 
                <span class="text-teyat">teyat</span> {% trans 'Comenzará a funcionar el' %} {{LAUNCH_TIME|date:"DATETIME_FORMAT"}}. <br/>
                {% trans 'Te mandaremos un correo a' %} <strong>{{nuevo_usuario.email}}</strong> <br/> {% trans 'con las instrucciones de acceso cuando queden unas horas para el lanzamiento.' %}</h2>
            </div>
            {% else %} 
            <div class="col-xs-12" style="padding-bottom:6%;">
                <h1 class="text-center">{% trans 'Muchas gracias por registrarte en teyat' %}, {{nuevo_usuario.nombre}}</h1>
                <h2 class="text-center">{% trans 'Te hemos mandado un correo a' %} <strong>{{nuevo_usuario.email}}</strong> <br/> {% trans 'con tus credenciales de acceso.' %}</h2>
            </div>
            <div class="col-xs-12" style="padding-bottom:10%;">
                <h4 class="text-center">{% trans 'Por favor comprueba ahora tu correo electrónico. Si no ves nuestro correo, revisa tus carpetas de SPAM y papelera, ya que algunos gestores de correo pueden haberlo mandado allí. Si no lo encuentras, escríbenos a teyat@teyat.es y te atenderemos personalmente.' %}</h4>
            </div>
            {% endif %}

            <div class="row" style="padding-bottom:5%;">
                
                <div class="col-xs-12 col-sm-6">
                    <h3 class="text-center">{% trans 'Síguenos y entérate de nuestras novedades' %}</h3>
                    <div class="col-xs-4 col-xs-offset-3">
                        <ul style="list-style-type: none;">
                          <li><a class="twitter-follow-button"
                              href="https://twitter.com/teyat_"data-lang="{{ LANGUAGE_CODE }}">{% trans 'Seguir a @teyat_'  %}</a></li>
                          <li><div class="fb-like" data-href="https://www.facebook.com/es.teyat" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div></li>
                        </ul>
                    </div>
                </div>
                
                
                
                
                
                <div class="col-xs-12 col-sm-6">
                    <h3 class="text-center">{% trans 'Compártelo con otros teatros amigos' %}</h3>
                    <div class="col-xs-4 col-xs-offset-3">
                        <ul style="list-style-type: none;">
                          <li><a href="https://twitter.com/share" class="twitter-share-button" data-text="{% trans 'Acabo de registrarme en teyat para gestionar mi teatro. Échale un vistazo, seguro que te interesa.' %}" data-url="{{base_url}}" data-via="teyat_" data-lang="{{ LANGUAGE_CODE }}">{% trans 'Twittear'  %}</a></li>
                          <li><div class="fb-share-button" data-href="{{base_url}}" data-layout="button"></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div> {# Container MAIN-ROW end #}

{% endblock %}

