{% load i18n %}
{% load static %} 
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% trans "ADMINISTRACIÓN TEATRE RAVAL GANDIA" %}</title>
  <link href="{% get_static_prefix %}images/favicon.ico" rel="icon" type="image/x-icon" media="all">
    
  <style type="text/css">
    
        
        body {
            font-family: "Helvetica", "sans-serif";
            background-color: #333333;
            color: #fff;
        }
        a, a:hover, a:active, a:focus, a:visited {font-weight: bold; text-decoration: none; color: #fff;}
        
</style>
</head>
{% load i18n %}

<body >
        <br><br><br><br><br><br>
        <a href="/admin/">
        <h1 style="text-align:center;">{% trans "ADMINISTRACIÓN" %}</h1>
            <p style="text-align:center;"><img src="{% get_static_prefix %}images/logo-teatre-raval.png"/></p>
        </a>
        <br>
        <br>
        {# <h4 style="text-align:center;">{% trans "Desarrollado por" %}</h4> #}
        {#    <p style="text-align:center;"><a href="http://javivicente.net" target="_blank"><img src="{% get_static_prefix %}images/javivicente-signature.png" width="200"/></a></p> #}
</body>
</html>

