{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
<div class="container body-landing" >
                
                <div class="text-center row-space-6">
                <h2 class="row-space-1" style="margin-bottom: 50px;">{% trans "Todo lo que necesitas para gestionar el día a día de tu teatro" %}</h2> 
               </div>
                
                <div class="row centered pricing-table">
                    
                        <div class="col-xs-6 col-sm-4">
                          <i class="fa fa-users fa-3x text-wc center-icon"></i><h3 class="text-center text-wc text-font-wc">{% trans 'Clientes' %}</h3>
                          <h4 class="text-center">{% trans 'Gestiona todos' %} <br/> {% trans 'los centros de educación' %} <br/> {% trans 'y personas de contactos.' %}</h4>
                          <h4 class="text-center hidden-xs"><small>{% trans "Y olvídate de usar hojas de cálculo con cientos de filas." %}</small></h4>
                        </div>  
                        <div class="col-xs-6 col-sm-4">
                          <i class="fa fa-bullhorn fa-3x text-wc center-icon"></i><h3 class="text-center text-wc text-font-wc">{% trans 'Campañas' %}</h3>
                          <h4 class="text-center">{% trans 'Gestiona las compañías' %}, <br/> {% trans 'obras y funciones' %} <br/> {% trans 'y agrúpalas en campañas.' %}</h4>
                          <h4 class="text-center hidden-xs"><small>{% trans "Y lleva un registro ordenado y riguroso de todas tus campañas." %}</small></h4>
                        </div>  
                        <div class="col-sm-4 hidden-xs">
                          <i class="fa fa-ticket fa-3x text-wc center-icon"></i><h3 class="text-center text-wc text-font-wc">{% trans 'Reservas' %}</h3>
                          <h4 class="text-center">{% trans 'Crea fácilmente reservas' %} <br/> {% trans 'que se notifican' %} <br/> {% trans 'por mail.' %}</h4>
                          <h4 class="text-center"><small>{% trans "Y controla en tiempo real el aforo disponible en cada representación." %}</small></h4>
                        </div>  
                </div>
                <div class="row centered pricing-table visible-xs">
                        <br><br>
                        <div class="col-xs-6">
                          <i class="fa fa-ticket fa-3x text-wc center-icon"></i><h3 class="text-center text-wc text-font-wc">{% trans 'Reservas' %}</h3>
                          <h4 class="text-center">{% trans 'Crea fácilmente reservas' %} <br/> {% trans 'que se notifican' %} <br/> {% trans 'por mail.' %}</h4>
                        </div> 
                        <div class="col-xs-6">
                          <i class="fa fa-money fa-3x text-wc center-icon"></i><h3 class="text-center text-wc text-font-wc">{% trans 'Caja' %}</h3>
                          <h4 class="text-center">{% trans 'Gestiona las recaudaciones' %} <br/> {%trans 'de tus funciones, obras y campañas.' %}</h4>
                        </div>  
                </div>
                <br><br>
                <div class="row centered pricing-table">
                        <div class="col-sm-4 hidden-xs">
                          <i class="fa fa-money fa-3x text-wc center-icon"></i><h3 class="text-center text-wc text-font-wc">{% trans 'Recaudaciones' %}</h3>
                          <h4 class="text-center">{% trans 'Gestiona las recaudaciones' %} <br/> {%trans 'de tus campañas al detalle:' %} <br/> {% trans 'por obras y por funciones.' %}</h4>
                          <h4 class="text-center"><small>{% trans "Y compara fácilmente tu recaudación prevista y la real." %}</small></h4>
                        </div>  
                        <div class="col-xs-6 col-sm-4">
                          <i class="fa fa-envelope-o fa-3x text-wc center-icon"></i><h3 class="text-center text-wc text-font-wc">{% trans 'Mailing' %}</h3>
                          <h4 class="text-center">{% trans 'Programa correos recordatorios' %} <br/> {% trans 'para los asistentes a tus espectáculos.' %}</h4>
                          <h4 class="text-center hidden-xs"><small>{% trans "Y ahorra tiempo porque se mandarán automáticamente." %}</small></h4>
                        </div>  
                        <div class="col-xs-6 col-sm-4">
                          <i class="fa fa-cloud fa-3x text-wc center-icon"></i><h3 class="text-center text-wc text-font-wc">{% trans 'En la nube' %}</h3>
                          <h4 class="text-center">{% trans 'Toda tu información segura y centralizada en un único sitio.' %} <br/> {% trans 'Siempre disponible.' %}</h4>
                          <h4 class="text-center hidden-xs"><small>{% trans "Para que trabajes tranquilamente sin importar el momento o el lugar." %}</small></h4>
                        </div>  
                    </div>{# /row #}
                <br/><br/>
                <br/><br/>
    </div>
