{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{% block extra_head %}
    <link rel="stylesheet" type='text/css' href="{% get_static_prefix %}css/teyat.css"/>
    <link rel="stylesheet" type='text/css' href="{% get_static_prefix %}css/landing.css"/>
    <style>
    .intro-header {
    text-align: center;
    background: url('{% get_static_prefix %}{{landing_picture}}') no-repeat center;
    background-size: cover;
    }
    
    </style>
    
{% endblock %}

{% block title_page %} {{title_page}}{% endblock %}

{% block datascroll %}style="overflow-x: hidden;" {% endblock %}
 
    
    
    {% block mainpage %}
    <!-- Header -->
    <div class="intro-header">
        <div class="row">
            <div class="col-xs-10 col-center">
                <div class="intro-message">
                    <h1>{% trans "Mejora la gestión de<br/>campañas escolares en tu teatro" %}</h1>
                    <h2>{% trans "Gestiona tus centros escolares, administra tus reservas y controla tus aforos." %}</h2>
                    <p>{% trans "Todo fácilmente y desde un mismo sitio." %}</p>
                    <div class="pricing-button">
                        <a href="{% url 'teyat_lang:register' %}" class="btn btn-conf-2 btn-wc" role="button">
                        {% if  BEFORE_LAUNCH %}
                            {% trans 'Solicitar prueba gratis' %}
                        {% else %} 
                            {% trans 'Pruébalo gratis' %}
                        {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
<!--    
    <div class="bg img-responsive">
        <div id="search-area" class="search-area text-center page-container-responsive page-container-no-padding">
            <div class="va-container">
                <div class="intro-area va-middle">
                    <h1 id='tagline' class='text-jumbo row-space-1'>Mejora la gestión de tus campañas escolares</h1>
                    <div class="col-sm-7 col-center">
                        <div id='subtitle' class="h2 text-contrast row-space-2">
                        </div>
                    </div>
                    
                    <div class="pricing-button">
                        <a href="{% url 'teyat_lang:register' %}" class="btn btn-conf-2 btn-wc" role="button">
                        {% if  BEFORE_LAUNCH %}
                            {% trans 'Solicitar prueba gratis' %}
                        {% else %} 
                            {% trans 'Pruébalo gratis' %}
                        {% endif %}
                        </a>
                    </div>
               </div>  {# intro-area #}
           </div> {# va-container #}
       </div> {# search-area #}
    </div> {# bg #}
-->
<div class="main-row">
    <div class="container">

    {#{% include 'teyat/landing_emo.html' %}#}

    {% include 'teyat/landing_reasons.html' %}
    
    {% include 'teyat/partial_registrate.html' %}
    {#{% include 'teyat/landing_prices.html' %}#}
    
    {#{% include 'teyat/landing_faq.html' %}#}
    
    
    
    {% if BEFORE_LAUNCH %}
        {% include 'teyat/landing_prelaunch.html' %}
    {#{% else %}#}
    {#   {% include 'teyat/landing_testimonials.html' %}#}
    {% endif %}
    </div>
</div> {# Container MAIN-ROW end #}

{% endblock %}

{% block JavaScript %}
<script>
            $(function() {
                $(".showejemplos").click(function() {
                    $(".ejemplo_correos").slideToggle();
                    $(".showejemplos span").text(($(".showejemplos span").text() == "{% trans 'Ver ejemplos' %}") ? "{% trans 'Ocultar ejemplos' %}" : "{% trans 'Ver ejemplos' %}") ; 
                }); 
            });
</script>
{% endblock %}