{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
<div class="container body-landing">
                
               <div class="text-center row-space-6">
                <h2 class="row-space-1" style="margin-bottom: 50px;">{% trans "Espacios culturales que ya usan teyat" %}</h2> 
               </div>
               
               <div class="container" >
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 centered">
                        <div id="carousel-testimonials" class="carousel slide" data-interval="5000" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div class="item active centered">
                              <img src="{% get_static_prefix %}images/logo-teatre-raval-negre.png" alt="Teatre Raval Gandia">
                              <!--<p>Praesent egestas neque eu enim. Vivamus quis mi. Proin faucibus arcu quis ante. Fusce a quam. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>-->
                                <h5>Teatre del Raval en Gandía</h5>
                            </div>
                            <!--<div class="item centered">
                              <img src="{% get_static_prefix %}images/logo_javivicente.png" alt="...">
                              <p>Praesent egestas neque eu enim. Vivamus quis mi. Proin faucibus arcu quis ante. Fusce a quam. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                                <h5>Teatro de la Vida en Macondo</h5>
                            </div>-->
                            
                          </div>
                        </div> <!-- Carousel -->
                    </div>
                </div>
               </div>
               <br/><br/>
</div>