{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
<div class="container" id="precios">
                
            <div class="text-center row-space-6">
                <h1 class="row-space-1">{% trans "Precios" %}</h1> 
            </div>
            
            
            <div class="row price-chooser">
                <div id="chooser-prices" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active" id="mtm">
                        <input type="radio" name="payment" > {% trans 'Mes a mes' %}
                    </label>
                    <label class="btn btn-default" id="annual">
                        <input type="radio" name="payment" > {% blocktrans with percent="%" %}Un año (ahorra el 10{{percent}}) {% endblocktrans %}
                    </label>

                </div>
                <label class="small">{% trans 'IVA no incluido' %}</label>
            </div> 
            
            <div class="row price-chart">

            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th class="empty"></th>
                            <th class="plan-name radius top-left">{% trans 'Básico' %}</th>
                            <th class="plan-name">{% trans 'Profesional' %}</th>
                            <th class="plan-name">{% trans 'Equipo' %}</th>
                            <!--<th class="plan-name radius top-right">{% trans 'A medida' %}</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="price-row price-annual hide">
                            <td class="empty"></td>
                            <td>36€<span>/{% trans 'Mes' %}</span><div class="little">{% trans 'facturado anualmente' %}</div></td>
                            <td>72€<span>/{% trans 'Mes' %}</span><div class="little">{% trans 'facturado anualmente' %}</div></td>
                            <td>135€<span>/{% trans 'Mes' %}</span><div class="little">{% trans 'facturado anualmente' %}</div></td>
                            <!--<td style="font-size: 18px;">{% trans 'Llámanos' %}</td>-->
                        </tr>
                        <tr class="price-row price-mtm">
                            <td class="empty"></td>
                            <td>40€<span>/{% trans 'Mes' %}</span><div class="little">{% trans 'facturado mensualmente' %}</div></td>
                            <td>80€<span>/{% trans 'Mes' %}</span><div class="little">{% trans 'facturado mensualmente' %}</div></td>
                            <td>150€<span>/{% trans 'Mes' %}</span><div class="little">{% trans 'facturado mensualmente' %}</div></td>
                            <!--<td style="font-size: 18px;">{% trans 'Llámanos' %}</td>-->
                        </tr>
                        <tr>
                            <td class="radius top-left"><span id="feat-records" class="help">{% trans 'Campañas, Funciones, Reservas y Contactos' %}</span></td>
                            <td>{% trans 'Ilimitados' %}</td>
                            <td>{% trans 'Ilimitados' %}</td>
                            <td>{% trans 'Ilimitados' %}</td>
                            <!--<td>{% trans 'Ilimitados' %}</td>-->
                        </tr>
                        <tr>
                            <td><span id="feat-secure" class="help">{% trans 'Datos seguros y siempre disponibles' %}</span></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <!--<td><div class="check"><i class="fa fa-check"></i></div></td>-->
                        </tr>
                        <tr>
                            <td><span id="feat-languages" class="help">{% trans 'Sistema multilingüe' %}</span></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <!--<td><div class="check"><i class="fa fa-check"></i></div></td>-->
                        </tr>
                        <tr>
                            <td><span id="feat-aforos" class="help">{% trans 'Control de aforos' %}</span></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <!--<td><div class="check"><i class="fa fa-check"></i></div></td>-->
                        </tr>
                        <tr>
                            <td><span id="feat-recaudaciones" class="help">{% trans 'Control de recaudaciones' %}</span></td>
                            <td></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <!--<td><div class="check"><i class="fa fa-check"></i></div></td>-->
                        </tr>
                        <tr>
                            <td><span id="feat-export" class="help">{% trans 'Exportación de datos' %}</span></td>
                            <td></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <!--<td><div class="check"><i class="fa fa-check"></i></div></td>-->
                        </tr>
                        <tr>
                            <td><span id="feat-correos" class="help">{% trans 'Correos de estado de reserva' %}</span></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <!--<td><div class="check"><i class="fa fa-check"></i></div></td>-->
                        </tr>
                        <tr>
                            <td><span id="feat-recordatorios" class="help">{% trans 'Correos recordatorios' %}</span></td>
                            <td></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <!--<td><div class="check"><i class="fa fa-check"></i></div></td>-->
                        </tr>
                        <tr>
                            <td><span id="feat-marca-mail" class="help">{% trans 'Correos sin marca' %}</span></td>
                            <td></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                            <!--<td><div class="check"><i class="fa fa-check"></i></div></td>-->
                        </tr>
                        <!--<tr>
                            <td>{% trans 'Plantilla de correos personalizada' %}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                        </tr>-->
                        
                        <tr>
                            <td><span id="feat-usuarios" class="help">{% trans 'Número de usuarios' %}</span></td>
                            <td>1</td>
                            <td>1</td>
                            <td>3</td>
                            <!--<td>3</td>-->
                        </tr>
                        <!--<tr>
                            <td>{% trans 'Formación personalizada' %}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><div class="check"><i class="fa fa-check"></i></div></td>
                        </tr>-->
                        
                        <tr>
                            <td class="radius bottom-left"><span id="feat-servicio" class="help">{% trans 'Servicio al cliente' %}</span></td>
                            <td style="font-size:13px;">{% trans 'por Email' %}</td>
                            <td style="font-size:13px;">{% trans 'por Email y Teléfono' %}</td>
                            <td style="font-size:13px;">{% trans 'por Email y Teléfono' %}</td>
                            <!--<td style="font-size:13px;" class="radius bottom-right">{% trans 'por Email y Teléfono' %}</td>-->
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>

            <br>
            
            
            
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="col-xs-12 col-sm-6">
                    <a href="{% url 'teyat_lang:register' %}" class="btn btn-large btn-huge btn-wc" role="button">
                        {% trans 'Comienza ahora' %}
                        <br>
                        <small>{% trans '(30 días de prueba gratis)' %}</small>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <p style="margin-top:10px; font-weight:bold;">{% trans "Sin tarjetas de crédito."%}</p>
                    <p>{% trans "Comienza ahora y elige tu plan más adelante." %}</p>
                </div>

            </div>

                

        </div>

            
            
            
            <!--<div class="text-center row-space-6">
                <h2 class="h1 row-space-1" style="margin-bottom: 50px;">{% trans "Prueba teyat gratis durante <s class='text-danger'><span class='text-muted'>14 días</span></s> 30 días" %}</h2> 
                <h3 class="row-space-1" >{% trans "Sin tarjetas de crédito. Sin líos." %}</h3> 
                <h3 class="row-space-1" >{% trans "Comienza ahora y elige un plan más adelante." %}</h3> 
            </div>-->
            <!--    <div class="row centered pricing-table">
                    
                    <div id="MONTH-YEAR" class="hidden-xs hidden-sm text-center"> {% trans "Ver precios por mes" %} <a><i class="fa fa-toggle-off fa-3x text-wc" style=" vertical-align: middle;"></i></a> {% trans "Ver precios por año"%}</div>
                    <div class="pricing-table">
                             <div class="row"><br />
                                
                                
                                <div class="hidden-xs hidden-sm col-md-6">
                                    <div class="price-table">
                                        <div class="p-head">                                        
                                            {% trans 'MENSUAL' %}</span></div>
                                            
                                        <div class="p-body"></p>
                                            <ul class="features">
                                                <li>{% trans 'El plan ideal para empezar' %}</li>
                                            </ul>
                                            <p>
                                            <div class="price price-yearly-no-vat">
                                                    <div class="ribbon-wrapper">
                                                        <div class="ribbon-front-large">
                                                            {% trans 'OFERTA DE LANZAMIENTO' %}: 
                                                            {% trans '¡Ahorra un 33' %} %!
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                    </div>
                                                {% if MONTHLY_PRICE_PER_YEAR_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{MONTHLY_PRICE_PER_YEAR_BEFORE}}</s>
                                                {% endif %}
                                                <span class="detail">{{MONTHLY_PRICE_PER_YEAR}}</span><span class="sub">€ / {% trans 'año' %}</span>
                                                <p class="small">{% trans 'Facturado en 12 pagos mensuales' %}</p>
                                            </div>
                                            <div class="price price-yearly-vat">
                                                	<div class="ribbon-wrapper">
                                                        <div class="ribbon-front-large">
                                                            {% trans 'OFERTA DE LANZAMIENTO' %}: 
                                                            {% trans '¡Ahorra un 33' %} %!
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                    </div>
                                                {% if MONTHLY_PRICE_PER_YEAR_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{MONTHLY_PRICE_PER_YEAR_BEFORE|multiply:IVA|floatformat:2}}</s>
                                                {% endif %}
                                                <span class="detail">{{MONTHLY_PRICE_PER_YEAR|multiply:IVA|floatformat:2}}</span><span class="sub">€  / {% trans 'año' %}</span>
                                                <p class="small">{% trans 'Facturado en 12 pagos mensuales' %}</p>
                                            </div>
                                            <div class="price price-monthly-no-vat">
                                                <div class="ribbon-wrapper">
                                                        <div class="ribbon-front-large">
                                                            {% trans 'OFERTA DE LANZAMIENTO' %}: 
                                                            {% trans '¡Ahorra un 33' %} %!
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                 </div>

                                                {% if MONTHLY_PRICE_PER_YEAR_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{MONTHLY_PRICE_PER_MONTH_BEFORE}}</s>
                                                {% endif %}
                                                <span class="detail">{{MONTHLY_PRICE_PER_MONTH}}</span><span class="sub">€ / {% trans 'mes' %}</span>
                                                <p class="small"><br/></p>
                                            </div>
                                            <div class="price price-monthly-vat">
                                                <div class="ribbon-wrapper">
                                                        <div class="ribbon-front-large">
                                                            {% trans 'OFERTA DE LANZAMIENTO' %}: 
                                                            {% trans '¡Ahorra un 33' %} %!
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                 </div>
                                                {% if MONTHLY_PRICE_PER_MONTH_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{MONTHLY_PRICE_PER_MONTH_BEFORE|multiply:IVA|floatformat:2}}</s>
                                                {% endif %}
                                                <span class="detail">{{MONTHLY_PRICE_PER_MONTH|multiply:IVA|floatformat:2}}</span><span class="sub">€  / {% trans 'mes' %}</span>
                                                <p class="small"><br/></p>
                                            </div>
                                            <div class="pricing-button"><a href="{% url 'teyat_lang:register' %}" class="btn btn-conf-2 btn-wc" role="button">{% trans 'Comenzar gratis' %}</a></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="hidden-xs hidden-sm col-md-6">
                                    <div class="price-table">
                                        <div class="p-head">{% trans 'ANUAL' %} <span id="info_anual" data-toggle="popover"><i class="fa fa-question-circle"></i></span>
                                        </div>
                                        <div class="p-body"></p>
                                            <ul class="features">
                                                <li>{% trans '¡Ahorra 2 mensualidades!' %}</li>
                                                
                                            </ul>
                                            <p>
                                            <div class="price price-yearly-no-vat">
                                                <div class="ribbon-wrapper">
                                                        <div class="ribbon-front-large">
                                                            {% trans 'OFERTA DE LANZAMIENTO' %}:
                                                            {% trans '¡Ahorra un 33' %} %!
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                    </div>
                                                {% if YEARLY_PRICE_PER_YEAR_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{YEARLY_PRICE_PER_YEAR_BEFORE}}</s>
                                                {% endif %}
                                                <span class="detail">{{YEARLY_PRICE_PER_YEAR}}</span><span class="sub">€ / {% trans 'año' %}</span>
                                                <p class="small"><br/></p>
                                            </div>
                                            <div class="price price-yearly-vat">
                                                <div class="ribbon-wrapper">
                                                        <div class="ribbon-front-large">
                                                            {% trans 'OFERTA DE LANZAMIENTO' %}:
                                                            {% trans '¡Ahorra un 33' %} %!
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                    </div>
                                                {% if YEARLY_PRICE_PER_YEAR_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{YEARLY_PRICE_PER_YEAR_BEFORE|multiply:IVA|floatformat:2}}</s>
                                                {% endif %}
                                                <span class="detail">{{YEARLY_PRICE_PER_YEAR|multiply:IVA|floatformat:2}}</span><span class="sub">€  / {% trans 'año' %}</span>
                                                <p class="small"><br/></p>
                                            </div>
                                            <div class="price price-monthly-no-vat">
                                                <div class="ribbon-wrapper">
                                                        <div class="ribbon-front-large">
                                                            {% trans 'OFERTA DE LANZAMIENTO' %}:
                                                            {% trans '¡Ahorra un 33' %} %!
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                    </div>
                                                {% if YEARLY_PRICE_PER_MONTH_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{YEARLY_PRICE_PER_MONTH_BEFORE}}</s>
                                                {% endif %}
                                                <span class="detail">{{YEARLY_PRICE_PER_MONTH}}</span><span class="sub">€ / {% trans 'mes' %}</span>
                                                <p class="small">{% trans 'Facturado en un pago anual' %}</p>
                                            </div>
                                            <div class="price price-monthly-vat">
                                                <div class="ribbon-wrapper">
                                                        <div class="ribbon-front-large">
                                                            {% trans 'OFERTA DE LANZAMIENTO' %}:
                                                            {% trans '¡Ahorra un 33' %} %!
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                    </div>
                                                {% if YEARLY_PRICE_PER_MONTH_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{YEARLY_PRICE_PER_MONTH_BEFORE|multiply:IVA|floatformat:2}}</s>
                                                {% endif %}
                                                <span class="detail">{{YEARLY_PRICE_PER_MONTH|multiply:IVA|floatformat:2}}</span><span class="sub">€  / {% trans 'mes' %}</span>
                                                <p class="small">{% trans 'Facturado en un pago anual' %}</p>
                                            </div>
                                            
                                            
                                            <div class="pricing-button"><a href="{% url 'teyat_lang:register' %}" class="btn btn-conf-2 btn-wc" role="button">{% trans 'Comenzar gratis' %}</a></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <br/>
                                <br/>
                                
                                <div id="IVA" class="hidden-xs hidden-sm text-center"> {% trans "Ver precios sin IVA" %} <a><i class="fa fa-toggle-off fa-3x text-wc" style=" vertical-align: middle;"></i></a> {% trans "Ver precios con IVA"%}</div>
                                
                                
                                <div class="visible-xs visible-sm col-sm-6 col-xs-12">
                                    <div class="price-table">
                                        <div class="p-head">{% trans 'PLAN MENSUAL' %}</div>
                                        
               
                                        <div class="p-body"></p>
                                            <ul class="features">
                                                <li>{% trans 'El plan ideal para empezar' %}</li>
                                            </ul>
                                            <p> 
                                            <div class="price">
                                                <div class="ribbon-wrapper">
                                                        <div class="ribbon-front">
                                                            {% trans 'OFERTA LANZAMIENTO' %}
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                    </div>
                                                {% if MONTHLY_PRICE_PER_MONTH_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{MONTHLY_PRICE_PER_MONTH_BEFORE}}<span class="sub">€ / {% trans 'mes' %}</span></s><br/>
                                                {% endif %}
                                                <span class="detail">{{MONTHLY_PRICE_PER_MONTH}}</span><span class="sub">€ / {% trans 'mes' %}</span>
                                                <p class="small">{{MONTHLY_PRICE_PER_MONTH|multiply:IVA|floatformat:0}} {% trans 'IVA incluido' %}</p>
                                                
                                            </div>
                                            <div class="pricing-button"><a href="{% url 'teyat_lang:register' %}" class="btn btn-conf-2 btn-wc" role="button">{% trans 'Comenzar gratis' %}</a></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="visible-xs visible-sm col-sm-6 col-xs-12">
                                    <div class="price-table">
                                        <div class="p-head">{% trans 'PLAN ANUAL' %}</div>
                                        
               
                                        <div class="p-body"></p>
                                            <ul class="features">
                                                <li>{% trans '¡Ahorra 2 mensualidades!' %}</li>
                                            </ul>
                                            <p> 
                                            <div class="price">
                                                <div class="ribbon-wrapper">
                                                        <div class="ribbon-front">
                                                            {% trans 'OFERTA LANZAMIENTO' %}
                                                        </div>
                                                        <div class="ribbon-edge-topleft"></div>
                                                        <div class="ribbon-edge-topright"></div>
                                                        <div class="ribbon-edge-bottomleft"></div>
                                                        <div class="ribbon-edge-bottomright"></div>
                                                        <div class="ribbon-back-left"></div>
                                                        <div class="ribbon-back-right"></div>
                                                    </div>
                                                {% if YEARLY_PRICE_PER_YEAR_BEFORE %}
                                                <s class="text-danger" ><span class="detail text-muted">{{YEARLY_PRICE_PER_YEAR_BEFORE}} <span class="sub">€ / {% trans 'año' %}</span></s><br/>
                                                {% endif %}
                                                <span class="detail">{{YEARLY_PRICE_PER_YEAR}}</span><span class="sub">€ / {% trans 'año' %}</span>
                                                <p class="small">{{YEARLY_PRICE_PER_YEAR|multiply:IVA|floatformat:0}} {% trans 'IVA incluido' %}</p>
                                                
                                            </div>
                                            <div class="pricing-button"><a href="{% url 'teyat_lang:register' %}" class="btn btn-conf-2 btn-wc" role="button">{% trans 'Comenzar gratis' %}</a></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <br />
                                
                                <div class="text-center row-space-6">
                                    <h4 class="row-space-1" style="margin-bottom: 50px;">{% trans "Tras tu periodo de prueba suscríbete al plan que prefieras. Cambia de un plan a otro o cancela en cualquier momento." %}</h4> 
                                </div>
                                
                                <div class="text-center row-space-6">
                                    <h2 class="row-space-1" style="margin-bottom: 50px;"></h2> 
                                </div>
                                
                                
                                            
                                
                            </div>{# row #}    
                    </div> {# PRICING TABLE #}
                            
                </div> -->
                
                
               
            </div>{# /container ptb #}  