{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{% block title_page %} {{title_page}}{% endblock %}

{% block datascroll %}style="overflow-x: hidden;" {% endblock %}
 
    {% block mainpage %}
    <div class="main-row">
    <div class="container">
      <h1>{% trans 'Nota legal y Privacidad' %}</h1>
      
      <h2>{% trans 'Información General' %}</h2>
      
      {% trans 'En cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, se informa que Teyat es una web cuyo titular es Tatiana C. Gamboa Martínez con NIF 26572346D, domicilio en la calle Plus Ultra 6A 3 puerta 9 - 46701 Gandia (Valencia) , teléfono: 96 2042835 y correo electrónico: <a href="mailto:info@teyat.es">info@teyat.es</a>' %}

      <h2>{% trans 'Advertencia de Privacidad' %}</h2>
      
      {% trans 'Tatiana C. Gamboa Martínez certifica que sus datos son de carácter confidencial y que bajo ningún aspecto serán cedidos a terceros.' %}
      <br/>
      <br/>
      {% trans 'Los datos que se faciliten por correo electrónico y o mediante nuestros formularios quedarán registrados en un fichero de Teyat con la finalidad de prestar los servicios solicitados, contestar a las consultas, obtener datos estadísticos de las mismas o envío de publicidad comercial y newsletter. Asimismo, notificamos a los usuarios que tienen derecho a ejercitar sus derechos de acceso, rectificación, cancelación y oposición enviando un correo a <a href="mailto:info@teyat.es">info@teyat.es</a>' %}
      <br/><br/>
      {% url 'teyat_lang:cookies' as cookies_url %}
      {% blocktrans %} 
      Teyat emplea cookies, que son archivos de texto ubicados en su ordenador, para mejorar la experiencia del usuario en el portal. Encuentre una descripción detallada del uso de cookies en nuestra <a href="{{cookies_url}}">Política de uso de cookies</a>.
      {% endblocktrans %}

      <div id="TOS"></div>
      <h2>{% trans 'Condiciones de uso' %}</h2>
      
      <h4>{% trans 'Ámbito, Términos y Condiciones Generales' %}</h4>
      {% blocktrans %}
      <ul>
      <li>Los términos y condiciones generales (TCG) que aparecen a continuación serán empleados para el uso de la web Teyat.es. Éste es un servicio ofrecido por Tatiana C. Gamboa Martínez.</li>
      <li>Mediante el registro o uso de los servicios de Teyat, los usuarios consienten la validez de los TCG.</li>
      <li>Tatiana C. Gamboa Martínez se reserva el derecho a la modificación de los Servicios y Términos Generales para el futuro si un ajuste fuese necesario por razones legales o económicas. El usuario deberá revisar estas Condiciones de forma periódica para mantenerse informado sobre las modificaciones.</li>
      </ul>
      {% endblocktrans %}

      <h4>{% trans 'Funciones de Teyat, qué hace la web'%}</h4>
    
      {% blocktrans %}
      <ul>
      <li>Teyat es una herramienta informática online que facilita la gestión de procesos administrativos en espacios culturales.</li>
      <li>Teyat guarda en la nube y de forma segura todos los datos que genere el espacio cultural.</li>
      </ul>
      {% endblocktrans %}
      
      <h4>{% trans 'Registro, ejecución del acuerdo con el usuario, declaraciones contractuales' %}</h4>
      
      {% blocktrans %}
      <ul>
      <li>El registro de los usuarios en la web es requerido para el uso del sistema de gestión de teatros. El registro es gratuito y está disponible para personas jurídicas, asociaciones y/o personas físicas que presten sus servicios para éstos.</li>
      <li>El contrato entre los usuarios y Tatiana C. Gamboa se lleva a cabo como una suscripción mensual o anual para acceder a los servicios de Teyat.</li>
      <li>El usuario puede dar por terminado el contrato en cualquier momento. Si no renueva la suscripción la cuenta pasará a estar inactiva, pero no borraremos ninguno de los datos. Si desea que borremos sus datos de teyat, escríbanos un correo a <a href="mailto:soporte@teyat.es">soporte@teyat.es</a>.</li>
      <li>El usuario puede recibir declaraciones contractuales en la dirección de correo electrónico indicada. Al aceptar los términos y condiciones generales, el usuario acepta además recibir boletines de noticias y otra información similar vía e-mail. El usuario puede revocar su consentimiento en cualquier momento y sin ningún coste escribiendo un correo a <a href="mailto:suscripciones@teyat.es">suscripciones@teyat.es</a>.</li>
      </ul>
      {% endblocktrans %}
      
      
      <h4>{% trans 'Uso de los servicios y contenidos' %}</h4>
      
      {% blocktrans %}
      <ul>
      <li>El empleo de la información contenida en este sitio web es responsabilidad íntegra de quien la utiliza, y de cualquier consecuencia que se derive de ella. Tatiana C. Gamboa Martínez no se hace responsable de ninguna de las consecuencias que pudieran derivarse de su utilización. Teyat utiliza sitios de terceros para facilitar la operación de la web, pero no se hace responsable de su contenido.</li>
      <li>El diseño de la web y sus códigos fuente, así como los logos, marcas y demás signos distintivos que aparecen en el mismo pertenecen a Javier Vicente Robledo y están protegidos por los correspondientes derechos de propiedad intelectual e industrial. Por lo tanto está prohibido realizar respecto de los mismos cualquier acto de explotación.</li>
      <li>Tatiana C. Gamboa se esfuerza para mantener operativa la web con el menor número posible de interrupciones pero no asegura que la web esté disponible o se pueda acceder a ella en todo momento.</li>
      <li>El uso de la web se puede restringir temporalmente si es necesario en términos de seguridad, integridad, límites de capacidad, o realización de medidas técnicas (mantenimiento). En particular, se tendrá en cuenta los intereses legítimos de los usuarios, mediante notificación por adelantado.</li>
      <li>La web no es responsable de las pérdidas o perjuicios que pueda ocasionar al usuario por virus, indisponibilidad o cualquier otro comportamiento anómalo. Teyat.es ha adoptado todas las medidas de seguridad a su alcance para garantizar el correcto funcionamiento de la web y evitar la generación de cualquier tipo de daño al usuario.</li>
      </ul>
      {% endblocktrans %}
      
      <h4>{% trans 'Información importante a tener en cuenta' %}</h4>
      
      {% blocktrans %}
      <ul>
      <li>Este acuerdo está sujeto únicamente a las leyes sustanciales de España.</li>
      <li>Tatiana C. Gamboa está autorizada a transferir a terceros sus derechos y obligaciones en virtud de este acuerdo en su totalidad o en parte.</li>
      <li>Si las disposiciones de estas Condiciones Generales se invalidan en su totalidad o parcialmente, el resto de Términos y Condiciones Generales siguen siendo válidos. En el caso de que tal disposición no sea válida, deberá ser reemplazada por una disposición legal.</li>
      <li>Tatiana C. Gamboa Martínez contratará a terceros para procesar las transacciones de suscripción. Tatiana C. Gamboa Martínez no está afiliada con estos procesadores de pagos; en consecuencia, renuncia expresamente a cualquier responsabilidad por los servicios prestados por cualquier procesador de pago. El usuario acepta que Tatiana C. Gamboa Martínez no será responsable por cualquier pérdida o daño de ningún tipo incurridos como resultado de dichos servicios.</li>
      </ul>
      {% endblocktrans %}
      
      <h2>{% trans 'Versión' %}</h2>
      
      {% trans 'Este documento es de fecha 21/01/2016 y cualquier modificación de sus términos será publicada en esta página web.' %}
      <br/><br/>
    </div>
    </div>{# Container MAIN-ROW end #}

{% endblock %}
