{% load static %} 
{% load i18n %} 
    <footer class="footer">
      <div class="container" id="container-footer">
      {% block footer %}
      <div class="content-footer">
        <div class="row">
            
            <!--
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li>
                        <a class="link-contrast" href="{% url 'teyat_lang:landing' %}#precios" rel="nofollow">{% trans "Precios" %}</a>
                    </li>
                    <li>
                        <a class="link-contrast" href="#" rel="nofollow">{% trans "Preguntas frecuentes" %}</a>
                    </li>
                </ul>
            </div>
            <div class="text-center hidden-md hidden-lg visible-xs visible-sm">
                <ul class="list-unstyled list-inline">
                    <li>
                        <a class="link-contrast" href="http://blog.teyat.es/" rel="nofollow">{% trans "Soporte" %}</a>
                    </li>
                    
                </ul>
            </div>
            -->
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li>
                        <a class="link-contrast" href="{% url 'teyat_lang:about' %}" rel="nofollow">{% trans "Quiénes somos" %}</a>
                    </li>
                    <li>
                        <a class="link-contrast" href="{% url 'teyat_lang:contacto' %}" rel="nofollow">{% trans "Contacto" %}</a>
                    </li>
                    <li>
                        <a class="link-contrast" href="http://blog.teyat.es/" rel="nofollow">{% trans "Blog" %}</a>
                    </li>
                </ul>
            </div>
            <!--
            <div class="col-md-3 hidden-md hidden-lg visible-xs visible-sm" >
                <table border="0" cellpadding="10" cellspacing="0" align="center"><tbody><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/es/webapps/mpp/paypal-popup" title="Cómo funciona PayPal" onclick="javascript:window.open('https://www.paypal.com/es/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logotipo_paypal_pagos_seguros.png" border="0" alt="Seguro con PayPal" /></a></td></tr></tbody></table>
            </div>
            -->
            
            
            <br/>
            <div class="text-center" style="padding-top:10px;">
                <ul class="list-unstyled list-inline">
                    <li>
                        <a class="link-contrast" href="https://www.facebook.com/es.teyat" target="_blank"> <i class="fa fa-facebook fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a class="link-contrast" href="https://twitter.com/es_teyat" target="_blank"> <i class="fa fa-twitter fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a class="link-contrast" href="https://plus.google.com/+TeyatEsGestionCultural" target="_blank"> <i class="fa fa-google-plus fa-lg"></i>
                         </a>
                    </li>
                    <!--<li>
                        <a class="link-contrast" href="https://www.youtube.com/channel/UCvFf_eKl048HnZYQ2mi57Bw" target="_blank"> <i class="fa fa-youtube fa-lg"></i>
                        </a>
                    </li>-->
                </ul>
            </div> 
            
        </div>

        <div class="row">
            <div class="text-center" style="padding-top:30px">
                <ul class="list-unstyled list-inline">
                <li> <a class="link-contrast" href={% url 'teyat_lang:legal' %} rel="nofollow">{% trans 'Nota legal y Privacidad'%}</a></li>
                <li> <a class="link-contrast" href={% url 'teyat_lang:cookies' %} rel="nofollow">{% trans 'Política de cookies'%}</a></li>
                </ul>
            </div>
            <div class="small text-center" style="padding-top:10px">
                <p>
                <span style="font-family:'Lobster';">teyat</span> {% now "Y" %}. {% trans 'Todos los derechos reservados'%}. <br/>{% trans 'Desarrollado por' %}
                <a class="link-contrast" href="http://javivicente.net" target="_blank">Javi Vicente</a> {% trans 'e impulsado por Tatiana Gamboa.' %} <br/> {% trans 'Calle Plus Ultra 6-A' %} · 46701 {% trans 'Gandía, España' %} · Tel. +34 96 204 28 35
                
                </p>
            </div>
        </div>
      </div> 
            
      {% endblock  %}
      
      </div>
    </footer>
