{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{# Load the tag library #}
{% load bootstrap3 %}

{% block title_page %} {{title_page}}{% endblock %}

{% block datascroll %}style="overflow-x: hidden;" {% endblock %}
 
    {% block mainpage %}
    
    
    <div class="main-row"> 
        <div class="container body-landing" >
            <h3 class="text-center">{% trans 'Estás a punto de disfrutar de 30 días gratis de teyat' %}</h3>
                
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <h4 class="text-center">{% trans 'Rellena los siguientes datos, por favor' %}</h4>
                {% if alta_form.errors %}
                    <p class="text-danger">{% trans 'No hemos podido registrarte. Por favor, corrige los siguientes errores:' %}</p>
                {% endif %}
                <form action="{% url 'teyat_lang:gracias_alta' %}" method="post" class="form" id="alta_form" name="alta_form">
                    {% csrf_token %}
                    {#{% bootstrap_form_errors alta_form type='all' layout='inline' %}#}
                        
                    {#{% bootstrap_form alta_form required_css_class='.required' %}#}
                    {% bootstrap_form alta_form %}
                    <p class="small">{% trans '* campos obligatorios'%}</p>
                    {% buttons %}
                    <button type="submit" name="submit_alta_form" class="btn btn-wc">
                        {% bootstrap_icon "ok" %} {% trans 'Darme de alta' %}
                    </button>
                    {% endbuttons %}
                </form>
                
            </div>  
        </div>
    
    </div> {# Container MAIN-ROW end #}

{% endblock %}

