{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 

{% block mainpage %}
   <div class="text-center">{% trans 'Hemos enviado un correo de prueba a' %} {{mail}}. {% trans 'Comprueba tu buzón.' %}<div>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>

{% endblock %}   
