/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
  background-color: #f2f2f2;
  font-family: sans-serif,arial,Helvetica Neue,Helvetica;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 42px;
}

.navbar-inverse{
    background-color: #f5f5f5;
    border: 1px solid transparent;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.required .control-label:after { content:" *"; }

.text-teyat {
    font-family: 'Lobster' !important;
    color: #990033 !important;
    
}

.botom-space{
    
    margin-bottom: 6em;
}

#top_bar_right_menu {
    
    margin-top: 8px;
}





.wc_icon {
 font-size: 32px;
}


.center-icon {
    display: block;
    margin: auto;
    width: auto;
    text-align: center;
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}

.tab-pane {
    padding: 10px;
}

.contact {
    font-size: 20px;
}





.row-space-1-sm{
padding: 0px 2px;
}





.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  color: #fff; 
  background-color: #444;
  padding: 50px 0px;
  
}

.link-contrast{color:#fff}.link-contrast:hover,.link-contrast:focus{color:#cc3366}.link-contrast:active{color:#cc3366}.link-contrast:hover,.link-contrast:focus,.link-contrast:active{text-decoration:none;outline:none}

.footer-icon-container {
display: block;
height: 36px;
width: 36px;
border-width: 1px;
border-style: solid;
border-radius: 50%;
padding-top: 7px;
text-align: center;
}


.show-sm {
display: none !important;
}



.select {
position: relative;
display: inline-block;
vertical-align: bottom;
}



.row-space-3 {
margin-bottom: 18.75px;
}

.row-condensed {
margin-left: -6.25px;
margin-right: -6.25px;
}

.select-block {
display: block;
width: 100%;
}

.box-content {
    display: inline-block;
    width: 200px;
    padding: 10px;
}

.extra-padding{
    padding: 10px; 
}


.bottom {
    border-bottom: 1px solid #ccc;
}

.top {
    border-top: 1px solid #ccc;
    margin-bottom:5px;
}

.right {
    border-right: 1px solid #ccc;
}

.align-vertical{
    float:none;
    display:inline-block;
    vertical-align:middle;
}


.text-wc{
  /*color: #6aa4f9;*/
  color: #990033;
}

.text-font-wc{
    font-family: sans-serif;
}

.btn-login {
  /*background-color: #6aa4f9;*/
  background-color: #f5f5f5;
  /*border-color: #6aa4f9;*/
  border-color: #990033;
  color: #990033;
}
.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active {
  /*background-color: #5195f8;*/
  background-color: #f5f5f5;
  /*border-color: #3986f7;*/
  border-color: #cc3366;
  color: #cc3366;
}
.btn-login.disabled:hover,
.btn-login.disabled:focus,
.btn-login.disabled:active,
.btn-login.disabled.active,
.btn-login[disabled]:hover,
.btn-login[disabled]:focus,
.btn-login[disabled]:active,
.btn-login[disabled].active,
fieldset[disabled] .btn-login:hover,
fieldset[disabled] .btn-login:focus,
fieldset[disabled] .btn-login:active,
fieldset[disabled] .btn-login.active {
  background-color: #f5f5f5;
  border-color: #ddd;
  color: #ddd;
}


.btn-wc {
  /*background-color: #6aa4f9;*/
  background-color: #990033;
  /*border-color: #6aa4f9;*/
  border-color: #990033;
  color: #ffffff;
}
.btn-wc:hover,
.btn-wc:focus,
.btn-wc:active,
.btn-wc.active {
  /*background-color: #5195f8;*/
  background-color: #cc3366;
  /*border-color: #3986f7;*/
  border-color: #cc3366;
  color: #ffffff;
}
.btn-wc.disabled:hover,
.btn-wc.disabled:focus,
.btn-wc.disabled:active,
.btn-wc.disabled.active,
.btn-wc[disabled]:hover,
.btn-wc[disabled]:focus,
.btn-wc[disabled]:active,
.btn-wc[disabled].active,
fieldset[disabled] .btn-wc:hover,
fieldset[disabled] .btn-wc:focus,
fieldset[disabled] .btn-wc:active,
fieldset[disabled] .btn-wc.active {
  background-color: #6aa4f9;
  border-color: #6aa4f9;
  color: #ffffff;
}


.col-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.row-space-6 {
margin-bottom: 37.5px;
}

.row-space-4 {
margin-bottom: 25px;
}

.row-space-1 {
margin-bottom: 6.25px;
}

.text-contrast {
color: #f2f2f2;
text-shadow: 1px 1px #444;
}
.text-contrast:hover,.text-contrast:focus,.text-contrast:active{text-decoration:none !important;outline:none !important}




.va-container {
display: table;
width: 100%;
height: 100%;
}

.va-container-h {
width: 100%;
}
.va-container-v {
height: 100%;
}

.va-container {
display: table;
position: relative;
}


.va-top{vertical-align:top}.va-middle{vertical-align:middle}.va-bottom{vertical-align:bottom}

.va-top, .va-middle, .va-bottom {
display: table-cell;
}


media="all"
@media (min-width: 1100px)
.page-container-responsive {
width: 1045px;
}

media="all"
@media (min-width: 768px)
.page-container-responsive {
width: 745px;
}


.page-container-responsive {
width: auto;
}

media="all"
@media (min-width: 768px)
.page-container, .page-container-responsive {
padding-left: 25px;
padding-right: 25px;
}


.page-container, .page-container-responsive {
margin-left: auto;
margin-right: auto;
padding-left: 12.5px;
padding-right: 12.5px;
}


*, *:before, *:after, hr, hr:before, hr:after, input[type="search"], input[type="search"]:before, input[type="search"]:after {
-moz-box-sizing: border-box;
box-sizing: border-box;
}


.page-container:before, .page-container-responsive:before, .page-container:after, .page-container-responsive:after {
content: " ";
display: table;
}


*, *:before, *:after, hr, hr:before, hr:after, input[type="search"], input[type="search"]:before, input[type="search"]:after {
-moz-box-sizing: border-box;
box-sizing: border-box;
}


.page-container:after, .page-container-responsive:after {
clear: both;
}


.page-container:before, .page-container-responsive:before, .page-container:after, .page-container-responsive:after {
content: " ";
display: table;
}


*, *:before, *:after, hr, hr:before, hr:after, input[type="search"], input[type="search"]:before, input[type="search"]:after {
-moz-box-sizing: border-box;
box-sizing: border-box;
}



/* nav-bar colors */
.navbar-inverse .navbar-brand {
  font-family: 'Lobster';
  font-size: 32px;
  color: #990033;
}

.navbar-inverse .navbar-nav > li > a
 {
    color: #990033;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover 
 {
    color: #cc3366;
}

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
    

   
   form .dropdown-menu {
    float: left !important;
    background-color: #fff !important;
    
    }
   
   form .dropdown-menu>li>a:focus, form .dropdown-menu>li>a:hover {
    color: initial !important;
    }
   
   form .dropdown-menu>li>a {
    color: initial;
    }
    
    .footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 370px;
  color: #fff; 
  background-color: #444;
  padding: 50px 0px;
  
}

   /*.main-row {
    margin-left: -20px;
    margin-right: -20px;
    }*/
    
    
    
    #subtitle{
        font-size: 1.3em;
    }
    
    #tagline{
        font-size: 2em;
        font-family: 'Lobster';
    }
    
    
 }






/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
    

    .footer {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 350px;
    color: #fff; 
    background-color: #444;
    padding: 50px 0px;
    
    }

    .main-row {
    margin-left: -20px;
    margin-right: -20px;
    }
    
    #tagline{
        font-size: 3em;
    }
    
    

 }

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
    

    .main-row {
    margin-left: -50px;
    margin-right: -50px;
    }
    
    
 }

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {

    
    .main-row {
    margin-left: -75px;
    margin-right: -75px;
    }

    
 }
