{% load i18n %}
{% load static %} 
<html>
    <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" /> 
    <style>
    @import url(http://fonts.googleapis.com/css?family=Lobster);
    </style>
    </head>
    <body>
            <tbody>
                <tr style="font-family:sans-serif,arial,Helvetica!important">
                    <td style="font-family:sans-serif,arial,Helvetica!important" align="center" width="100%">
                        <table style="font-family:sans-serif,arial,Helvetica!important" align="center" border="0" cellpadding="10" cellspacing="0" width="750">
                            <tbody>
                             {% block content %}   
                                <tr style="font-family:sans-serif,arial,Helvetica!important">
                                    <td style="font-family:sans-serif,arial,Helvetica!important" align="left">
                                       <a href="{{correo.owner.website}}" target="_blank"><img alt="{{correo.owner.nombre}}" src="http://teyat.es{{correo.owner.logo_nb.url}}" style="border:0;display:block" border="0" width="180"></a>
                                   </td>
                                </tr>
                                {% if correo.owner.idioma_mails == 'bi' or correo.owner.idioma_mails == 'ca' %}
                                <tr style="font-family:sans-serif,arial,Helvetica!important">
                                    <td style="font-family:sans-serif,arial,Helvetica!important">
                                        <div style="color:#000;font-family:sans-serif,arial,Helvetica!important;font-size:14px;text-align:left;" align="left">
                                            {% block saludo_ca %}
                                            {% endblock %}
                                        </div>
                                        <div style="color:#000;font-family:sans-serif,arial,Helvetica!important;font-size:14px;text-align:left;" align="left" >
                                            {% block mensaje_ca %}
                                            {% endblock %}
                                       </div>
                                   </td>
                                </tr>
                                {% endif %}
                               
                               {% if correo.owner.idioma_mails == 'bi' or correo.owner.idioma_mails == 'es' %}
                               <tr style="font-family:sans-serif,arial,Helvetica!important">
                                    <td style="font-family:sans-serif,arial,Helvetica!important">
                                        <div style="color:#000;font-family:sans-serif,arial,Helvetica!important;font-size:14px;text-align:left;" align="left">
                                            {% block saludo_es %}
                                            {% endblock %}
                                        </div>
                                        <div style="color:#000;font-family:sans-serif,arial,Helvetica!important;font-size:14px;text-align:left;" align="left">
                                            {% block mensaje_es %}
                                            {% endblock %}
                                       </div>
                                   </td>
                               </tr>
                               {% endif %}
                        </tbody>
                        
                        <table style="font-family:sans-serif,arial,Helvetica!important" align="center" border="0" cellpadding="10" cellspacing="0" width="750">
                            <tbody bgcolor="#444">
                                
                                <tr style="font-family:sans-serif,arial,Helvetica!important">
                                    <td style="font-family:sans-serif,arial,Helvetica!important" >
                                        {% if correo.owner.idioma_mails == 'bi' or correo.owner.idioma_mails == 'ca' %}
                                        <p style="color:#fff;font-family:sans-serif,arial,Helvetica!important;font-size:12px;text-align:center;" align="left">
                                            Per favor incluiu <a href="mailto:{{correo.owner.emailcampanya}}" style="color:#ffffff" target="_blank">{{correo.owner.emailcampanya}}</a> a la vostra llibreta d'adreçes o llista segura de contactes per assegurar-se que rep correctament els nostres correus.
                                        </p>
                                        {% endif %}
                                        {% if correo.owner.idioma_mails == 'bi' or correo.owner.idioma_mails == 'es' %}
                                        <p style="color:#fff;font-family:sans-serif,arial,Helvetica!important;font-size:12px;text-align:center;" align="left">
                                           Por favor incluya <a href="mailto:{{correo.owner.emailcampanya}}" style="color:#ffffff" target="_blank">{{correo.owner.emailcampanya}}</a> a su libreta de direcciones o lista segura de contactos para asegurarse de que recibe correctamente nuestros correos.                                            
                                        </p>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                               {% endblock %}
                            </tbody>
                        </table>
                        <table style="font-family:sans-serif,arial,Helvetica!important" align="center" border="0" cellpadding="10" cellspacing="0" width="750">
                            <tbody bgcolor="#444">
                         
                                <tr style="font-family:sans-serif,arial,Helvetica!important" width="375">
                                    <td style="font-family:sans-serif,arial,Helvetica!important">
                                        <p style="color:#ffffff;font-family:sans-serif,arial,Helvetica!important;font-size:9px;text-align:right;" align="right">
                                            {% if correo.owner.idioma_mails == 'bi' or correo.owner.idioma_mails == 'ca' %}
                                            Impulsat per
                                            {% endif %}
                                            {% if correo.owner.idioma_mails == 'bi' %}
                                            <br>
                                            {% endif %}
                                            {% if correo.owner.idioma_mails == 'bi' or correo.owner.idioma_mails == 'es' %}
                                            Impulsado por
                                            {% endif %}
                                        </p>
                                    </td>
                                    <td style="font-family:Lobster,arial,Helvetica,sans-serif!important;padding-left:10px" valign="middle" width="375">
                                        <a href="http://teyat.es" target="_blank"><img alt="Teyat" src="http://teyat.es{% get_static_prefix %}images/logo-teyat-mails.png" style="border:0;display:block;font-size:14px;line-height:12px;margin:0" border="0" width="100"></a>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                                
                    </td>
                </tr>
            </tbody>
    </body>
</html>