{% load i18n %}
{% load static %} 
<html>
    <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" /> 
    <style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    @import url(http://fonts.googleapis.com/css?family=Lobster);
    </style>
    <style>
      body {
        font-family: 'Open Sans', arial,Helvetica,sans-serif;
        font-size: 12.8px;
      }
      
    </style>
    </head>
    <body>
            <div>
            {{message|safe}}
            </div>
            
            
            {# FIRMA #}
            <div>
                <a href="http://teyat.es" target="_blank"><img alt="Teyat" src="http://teyat.es{% get_static_prefix %}images/logo-teyat-mails.png" style="border:0;display:block;font-size:14px;line-height:12px;margin:0" border="0" width="100"></a>
            </div>
            <div style="font-size:12.8px;>
                <font face="tahoma, sans-serif">{% trans 'Transforma la gestión de tu teatro' %}</font>
            </div>
            <div>
                <font size="1">{% trans 'Desarrollado por Javi Vicente e impulsado por Tatiana Gamboa.' %}</font>
            </div>
            <div>
                <font size="1">{% trans 'Calle Plus Ultra 6-A · 46701 Gandía, España' %} · Tel. <a href="tel:%2B34%2096%20204%2028%2035" value="+34962042835" target="_blank">+34 96 204 28 35</a></font>
            </div>
                                    
    </body>
</html>